*{
    margin: 0;
    padding: 0;
}
.game__page {
  display: grid;
  place-items: center;
  /* background-color: #bdcf2e; */
  background: url(../video/Matrix\ -\ 25695.mp4);
  height: 100vh;
}

.game__video{
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.game__screen{
    background-color: #ededed;
  height: 90vh;
  width: 90vw;
  display: flex;
  box-shadow: 8px 4px 50px 8px rgba(89, 204, 104, 0.781);
}
