    #mySidenav a {
        position: absolute;
        /* Position them relative to the browser window */
        left: -80px;
        /* Position them outside of the screen */
        transition: 0.3s;
        /* Add transition on hover */
        padding: 15px;
        /* 15px padding */
        width: 100px;
        /* Set a specific width */
        text-decoration: underline;
        /* Remove underline */
        font-size: 25px;
        /* Increase font size */
        color: white;
        /* White text color */
        font-weight: bold;
        font-size: medium;
        font-variant: inherit;
        border-radius: 0 5px 5px 0;
        /* Rounded corners on the top right and bottom right side */
    }
    
    #mySidenav a:hover {
        left: 0;
        /* On mouse-over, make the elements appear as they should */
    }
    /* The about link: 20px from the top with a green background */
    
    #about {
        top: 20px;
        background-color: #eb1656;
    }
    
    #blog {
        top: 80px;
        background-color: rgb(14, 74, 238);
        /* Blue */
    }
    
    html {
        height: 100%;
    }
    
    body {
        margin: 0;
    }
    
    .bg {
        animation: slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, rgb(26, 75, 42) 50%, rgb(104, 223, 88) 50%);
        bottom: 0;
        left: -50%;
        opacity: .5;
        position: fixed;
        right: -50%;
        top: 0;
        z-index: -1;
    }
    
    .bg2 {
        animation-direction: alternate-reverse;
        animation-duration: 4s;
    }
    
    .bg3 {
        animation-duration: 5s;
    }
    
    .content {
        background-color: rgba(19, 17, 20, 0.938);
        border-radius: .25em;
        box-shadow: 0 0 .25em rgba(241, 236, 236, 0.25);
        box-sizing: border-box;
        left: 50%;
        padding: 10vmin;
        position: relative;
        text-align: left;
        top: 50%;
        transform: translate(-50%, -50%);
        color: rgb(93, 240, 233);
        font-size: 25px;
        height: 400px;
        margin-left: -300px;
        width: 650px;
    }
    
    h1 {
        font-family: monospace;
    }
    
    @keyframes slide {
        0% {
            transform: translateX(-25%);
        }
        100% {
            transform: translateX(25%);
        }
    }
    
    .game__screen {
        background-color: rgba(54, 16, 179, 0.883);
        background-image: url("./wow.png");
        background-repeat: repeat-x;
        background-attachment: fixed;
        background-position: 50% 20%;
    }